@font-face {
  font-family: 'Simplifica';
  font-style: normal;
  font-weight: normal;
  src: local('Simplifica'), url('SIMPLIFICA Typeface.woff') format('woff');
}
   

h1 {
  text-align: center;
  font-size: 5rem;
  font-family: 'Simplifica';
}



